/* NAV  */

nav{
    background-color: #FF6801;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.nav-text{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-cont{
    display: flex;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo{
    height: 35px;
    /* quale è il modo migliore per centrarlo? */
    position: absolute;
    left: 45%;
    right: 55%;
}

.nav-icons{
    fill: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.icon-dim{
    width: 18px;
    height: 18px;
}

/* MAIN  */

main{
    width: 70%;
    margin: 0 auto;
}

.sect-1{
    margin-top: 150px;
    height: 800px;
    object-fit: contain;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.sect-2{
    margin-top: 70px;
    margin-bottom: 70px;
    height: 800px;
    object-fit: contain;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.prod{
    /* background: green; */
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.pic{
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    /* overflow: hidden; 
     MOLTO UTILE VISIVAMENTE */

}

.pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.red-price{
    color: red;
}

.lined-price{
    text-decoration: line-through;
}